version: '3'

services:
  # Used as the kv store for dedup and message queue.
  redis:
    image: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--client-output-buffer-limit", "pubsub 100mb 50mb 60"]
    volumes:
      # mount the local Redis configuration file into the container
      - ./examples/summarize_to_notion/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/dedup-data  # mount the Redis data volume into the container
    restart: always
    container_name: taotie-redis

  # Used as the knowledge graph DB
  neo4j:
    image: neo4j:latest
    container_name: my-neo4j
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      - NEO4J_AUTH=neo4j/taotie-knowledge-graph  # Change the password!

  taotie:
    build:
      context: ${PWD}
      dockerfile: ./examples/summarize_to_notion/Dockerfile
    ports:
      - "6543:6543"
    depends_on:
      - redis

volumes:
  redis_data:  # define a named volume 'redis_data' that will persist Redis data even if the container is deleted
