name: Continuous Integration

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          echo "Current directory $PWD"; curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
          poetry install ; pip install langchain; pip install -e .
      - name: Install pytest
        run: |
          pip install pytest
      - name: Run tests
        run: |
          pytest taotie/tests
      - name: Install lint dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 mypy==1.1.1 isort black
      - name: Run black
        run: |
          black --check .
      - name: Run Flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run mypy
        run: |
          mypy . --exclude '(taotie/tests/*|examples/*)'
      - name: Run isort
        run: |
          isort --check --diff .